---
import "@styles/layouts/userCreateChat.scss";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Hortalink | Nova conversa</title>
    </Fragment>
    <Fragment slot="body">
        <header>
            <h1>Nova conversa</h1>
        </header>
        <div class="line" />
        <main>
            <slot /> 
        </main>
    </Fragment>
</BaseLayout>