@use "../colors";

.orders_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .order {
        width: 100%;
        max-width: 430px;
        padding: 13px;

        font-weight: 700;
        border-bottom: 0.36px solid colors.$light_1;
        
        .order_part {
            display: flex;
            justify-content: space-between;

            .order_title {
                color: #262626;
                font-size: 1.4em;
            }

            .order_author {
                color: colors.$mid_1;
                font-size: 1.1em;
            }

            .order_price {
                color: colors.$mid_1;
                font-size: 1.1em;

                margin-top: 40px;
            }

            .order_date {
                color: colors.$light_1;
                font-size: 1.12em;
            }

            .order_status {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: fit-content;
                height: fit-content;

                padding: 8px;
                border-radius: 9px;
            }

            .status_processing {
                background-color: #58585840;
                color: colors.$mid_1;
            }

            .status_awaiting {
                background-color: #BF9454A6;
                color: colors.$group4_color_2;
            }
        }
    }
}