@use "../colors";

@mixin flex {
    display: flex;
    align-items: center;
}

.user_ratings {
    @include flex();
    flex-direction: column;

    gap: 1rem;

    .user_rating {
        @include flex();
        gap: 0.6rem;

        width: 100%;
        max-width: 341px;

        overflow: hidden;

        img {
            object-fit: cover;
            border-radius: 8px;
        }

        .content {
            .header {
                @include flex();
                align-items: flex-start;

                gap: 1.2rem;
                text-transform: capitalize;

                margin-bottom: 0.3rem;

                h2 {
                    font-size: 1em;
                    text-transform: capitalize;

                    color: #262626;
                    min-width: 100px;
                }

                p {
                    color: colors.$mid_1;
                }

                .stairs {
                    @include flex();
                    align-items: center;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}