---
import "@styles/pages/home/unsigned.scss";

import BaseLayout from "@layouts/BaseLayout.astro";

import Unsigned from "@components/pages/home/Unsigned.astro";
import CustomerHome from "@components/pages/home/CustomerHome.astro";
import APIWrapper, { RequestAPIFrom } from "@HortalinkAPIWrapper";
import type { User } from "@interfaces/User";

const wrapper = new APIWrapper(RequestAPIFrom.Server)

const session_cookie = Astro.cookies.get("session_id")
const session_id = session_cookie?.value || null

const session = session_id ? await wrapper.getCurrentSession(session_id) : null

export const prerender = false
---

<BaseLayout no_session_fetch={true}>
    <Fragment slot="head">
        <title>Hortalink</title>
    </Fragment>
    <Fragment slot="body">
        { session && !session.profile.is_seller && <CustomerHome /> }
        { !session && <Unsigned /> }

        { !session &&
            <script define:vars={{ session }}>
                const navbar = document.querySelector(".navbar_container")
                navbar.hidden = true
            </script>
        }
    </Fragment>
</BaseLayout>